.partResults {
    margin-bottom: 79px;
    background-color: $colorGrey2;

    .borderH1 {
        width: 41.9%; // 157px
        border-bottom: 1px solid $colorBlanli;
        opacity: 0.5;
        margin: 0 auto;
    }

    #nameResults {
        margin-top: 43px;
        margin-bottom: 38px;
        color: white;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .gridGifsResults {
        margin-left: 5.6%;
        margin-right: 5.6%;
        margin-bottom: 78px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 3.33%;
        grid-row-gap: 25px;

        #gifres {
            width: 98.2%; //156px
            height: 120px;
        }
    }

    .gridGifsNOResults {
        .sinResultados {
            margin: 0 36.5%;
            width: 27%;
            height: 100px;
        }

        #parrafNR {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            line-height: 25px;
            color: $colorAqua;
            text-align: center;
            margin-top: 29px;
            font-weight: bold;
        }
    }
}

//Falta agregar el título y la imagen de la sección PARTONE
@media screen and (min-width: 1440px) {
    .partResults {
        .borderH1 {
            width: 338px;
        }

        #nameResults {
            font-size: 35px; //Es 30px cuando no encuentra resultados
            margin-top: 83.9px;
            margin-bottom: 109px;
        }

        .gridGifsResults {
            margin-left: 10.8%;
            margin-right: 10.8%;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 29px;
            grid-row-gap: 30px;

            #gifres {
                width: 260px;
                height: 200px;
            }
        }

        .gridGifsNOResults {
            .sinResultados {
                width: 150px;
                height: 150px;
                margin: 0 645px;
            }

            #parrafNR {
                font-size: 22px;
                padding-bottom: 70px;
            }
        }

        .gridGifsNOResults {
            .sinResultados {
                width: 150px;
                height: 150px;
                margin: 0 645px;
            }

            p {
                font-size: 22px;
                padding-bottom: 70px;
            }
        }
    }
}
