//Colores de fuentes establecidos
$colorAqua : #50E3C2;
$colorBlueSky : #F3F5F8 ;
$colorGrey: #6B7989;
$colorBlanli: #9CAFC3;
$colorLile : #572EE5;
$colorGrey2: #37383C;
$colorGrey3: #222326;

//Fuentes establecidas
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap"); //Monserrat Medium 500; Bold 700; Roboto Regular


@import "gifoMaxD";